.home {
	h2 {
		font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	}
	.feature {
		display: flex;
		flex-basis: 100% !important;
		max-width: 100% !important;
		flex-direction: row;
		flex-wrap: wrap;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding: 0 !important;
		img {
			max-width: 200px;
		}

		@media screen and (min-width 720px) {
			padding: 0 2.5rem;
			margin: 2rem 1.5rem;
			flex-wrap: nowrap;
			justify-content: left;
			text-align: left;
			img {
				margin-right: 2.5rem;
			}
		}
	}
	.features {
		@media screen and (min-width $MQNarrow) {
			flex-wrap: nowrap !important;
			.feature {
				flex-direction: column;
			}
		}
	}
}
