/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attched to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

 :root {
  --vp-c-text-0: #2c3e50;
  --vp-c-text-3: #006680;

  --vp-c-text-white: #f3f3f3;

  --vp-c-blue-dark: #006680;
  --vp-c-blue-0: #00a3cc;
  --vp-c-blue-1: #00aed8;
  --vp-c-blue-2: #6ce2ff;
  --vp-c-blue-3: #78e5ff;
  --vp-c-blue-soft: #476582;

  --vp-code-color: #476582;

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-dark: var(--vp-c-blue-dark);
  --vp-c-brand-0: var(--vp-c-blue-0);
  --vp-c-brand-1: var(--vp-c-blue-1);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-3);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-sidebar-item-active-bg: var(--vp-c-brand-1);
  --vp-c-sidebar-item-hover: var(--vp-c-brand-1);
  --vp-c-sidebar-item-active: var(--vp-c-brand-1);

  --vp-c-highlight-link: var(--vp-c-brand-1);

  --vp-font-family-goyave: 'Montserrat', 'Inter var', 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --vp-nav-logo-height: 2.2rem; 

  --vp-code-link-color: var(--vp-c-brand-1);
  --vp-code-link-hover-color: var(--vp-c-brand-dark);
}

.vp-doc a:has(code) {
  --vp-code-color: var(--vp-code-link-color);
  color: var(--vp-code-link-color) !important;
  text-decoration-color: var(--vp-code-link-color) !important;
}

.vp-doc a:has(code):hover {
  --vp-code-color: var(--vp-code-link-hover-color);
  color: var(--vp-code-link-hover-color) !important;
  text-decoration-color: var(--vp-code-link-hover-color) !important;
}

.vp-doc a:hover {
  color: var(--vp-c-brand-soft) !important;
}

.dark {
  --vp-c-text-0: #f3f3f3;
  --vp-code-color: var(--vp-c-blue-3);

  --vp-sidebar-item-active-bg: var(--vp-c-brand-2);
  --vp-c-sidebar-item-hover: var(--vp-c-brand-2);
  --vp-c-sidebar-item-active: var(--vp-c-brand-2);

  --vp-c-highlight-link: var(--vp-c-brand-2);
}

.dark .vp-doc a:not(:has(code)) {
  color: var(--vp-c-brand-2) !important;
}

.dark .vp-doc a:not(:has(code)):hover {
  color: var(--vp-c-brand-1) !important;
}

.dark {
  --vp-code-link-color: var(--vp-c-brand-2) !important;
  --vp-code-link-hover-color: var(--vp-c-brand-1) !important;
}

/**
 * Component: Navbar
 * -------------------------------------------------------------------------- */

.VPNavBarTitle .title {
  font-family: var(--vp-font-family-goyave) !important;
  color: var(--vp-c-text-0) !important;
  font-weight: 600 !important;
  font-size: 1.3rem;
}

.VPNavBarTitle .logo {
  margin-right: 0.8rem;
}

.dark .outline-marker {
  background-color: var(--vp-c-brand-2) !important;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-0);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}


/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-green-soft);
  --vp-badge-tip-bg: var(--vp-c-green-soft);

  --vp-c-tip-1: var(--vp-c-green-1);
  --vp-c-tip-2: var(--vp-c-green-2);

  --vp-badge-brand-border: transparent;
  --vp-badge-brand-text: var(--vp-c-text-white);
  --vp-badge-brand-bg: var(--vp-c-brand-1);
  
  --vp-custom-block-tip-code-bg: var(--vp-code-bg) !important;
  --vp-custom-block-info-code-bg: var(--vp-code-bg) !important;
  --vp-custom-block-warning-code-bg: var(--vp-code-bg) !important;
  --vp-custom-block-danger-code-bg: var(--vp-code-bg) !important;

  --vp-c-mono-block: #24292E;
  --vp-c-mono-block-em: #808080;
  --vp-mono-block-font-size: 0.875rem;
}

.dark {
  --vp-c-mono-block: var(--vp-c-text-1);
  --vp-c-mono-block-em: #808080;
}

.dark .custom-block.tip a {
  color: var(--vp-c-tip-1) !important;
}
.dark .custom-block.tip a:hover {
  color: var(--vp-c-tip-2) !important;
}
.dark .custom-block.warning a {
  color: var(--vp-c-warning-1) !important;
}
.dark .custom-block.warning a:hover {
  color: var(--vp-c-warning-2) !important;
}
.dark .custom-block.danger a {
  color: var(--vp-c-danger-1) !important;
}
.dark .custom-block.danger a:hover {
  color: var(--vp-c-danger-2) !important;
}

.custom-block code {
  color: var(--vp-code-color) !important;
}

.custom-block a:has(code) {
  color: var(--vp-code-link-color) !important;
  text-decoration-color: var(--vp-code-link-color) !important;
}

.custom-block a:has(code):hover {
  color: var(--vp-code-link-hover-color) !important;
  text-decoration-color: var(--vp-code-link-hover-color) !important;
}

.VPBadge.brand {
  border-color: var(--vp-badge-brand-border);
  color: var(--vp-badge-brand-text);
  background-color: var(--vp-badge-brand-bg);
}

.custom-block.mono {
  border-color: var(--vp-custom-block-info-border);
  color: var(--vp-custom-block-info-text);
  background-color: var(--vp-custom-block-info-bg);
}

.custom-block.mono > pre {
  padding: 0;
  margin: 0;
  margin-bottom: -0.75rem;
}

.custom-block.mono > pre > code > p {
  color: var(--vp-c-mono-block) !important;
  line-height: 1.4 !important;
  font-size: var(--vp-mono-block-font-size) !important;
}

.custom-block.mono > pre > code > p > em {
  color: var(--vp-c-mono-block-em) !important;
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.dark [class*="DocSearch"] {
  --docsearch-highlight-color: var(--vp-c-brand-2) !important;
}

.dark [class*="DocSearch"] .DocSearch-Hit[aria-selected="true"] {
  --docsearch-highlight-color: var(--vp-c-brand-0) !important;
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

.VPSidebarItem.level-2.is-active > .item > .indicator,
.VPSidebarItem.level-3.is-active > .item > .indicator,
.VPSidebarItem.level-4.is-active > .item > .indicator,
.VPSidebarItem.level-5.is-active > .item > .indicator {
  background-color: var(--vp-sidebar-item-active-bg) !important;
}

.VPSidebarItem.level-0.is-link > .item > .link:hover .text,
.VPSidebarItem.level-1.is-link > .item > .link:hover .text,
.VPSidebarItem.level-2.is-link > .item > .link:hover .text,
.VPSidebarItem.level-3.is-link > .item > .link:hover .text,
.VPSidebarItem.level-4.is-link > .item > .link:hover .text,
.VPSidebarItem.level-5.is-link > .item > .link:hover .text {
  color: var(--vp-c-sidebar-item-hover) !important;
}

.VPSidebarItem.level-0.is-active > .item .link > .text,
.VPSidebarItem.level-1.is-active > .item .link > .text,
.VPSidebarItem.level-2.is-active > .item .link > .text,
.VPSidebarItem.level-3.is-active > .item .link > .text,
.VPSidebarItem.level-4.is-active > .item .link > .text,
.VPSidebarItem.level-5.is-active > .item .link > .text {
  color: var(--vp-c-sidebar-item-active) !important;
}

.VPDocFooter .title {
  color: var(--vp-c-highlight-link) !important;
}

.VPNavBarMenuLink:hover {
  color: var(--vp-c-highlight-link) !important
}

/**
 * Component: Sponsor
 * -------------------------------------------------------------------------- */

.become-sponsor {
  width: 100%;
  display: flex;
  padding-top: 1rem;
}

.become-sponsor > a {
  border: 1px solid var(--vp-c-brand-1);
  border-radius: 2em;
  display: inline-block;
  color: var(--vp-c-brand-1);
  font-size: 0.7em;
  line-height: 0.80rem;
  padding: 0.25rem 0.75rem;
  text-align: center;
  align-self: center;
}

.dark .become-sponsor a {
  border: 1px solid var(--vp-c-brand-2);
  color: var(--vp-c-brand-2);
}